# Node
node_modules/
.next/
.env

# Python
__pycache__/
.env
*.pyc
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Backend specific
backend/.env
backend/venv/
backend/__pycache__/

# Frontend specific
frontend/.next/
frontend/node_modules/
